﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" http-equiv="X-UA-Compatible" content="IE-10" />
    <title>@ViewBag.Title - Lear Corporation</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/css")
    <link href="~/Content/fontawesome-5.3.1/css/all.css" rel="stylesheet" />
    @*<link href="~/Content/Template/simple-sidebar.css" rel="stylesheet" />*@
    <link href="~/Content/Template/left-menu.css" rel="stylesheet" />
    <link href="~/Content/Menu.css" rel="stylesheet" />
    <link href="~/Content/fontawesome-5.3.1/css/all.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />

    <script src="~/Scripts/jquery-2.2.3.min.js"></script>
    <script src="~/Scripts/jquery.dataTables.js"></script>

    <script src="~/Scripts/bootstrap.min.js"></script>
    @Scripts.Render("~/bundles/modernizr")


    @Styles.Render("~/Content/DevExtremeBundle")

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/Scripts/DevExtremeBundle")


    <script src="~/Scripts/bootstrap.min.js"></script>

    <style>
        .h3header {
            color: white;
            font-size: 25px;
            font-weight: 600;
            border-bottom: 0px !important;
        }

        .clLogo {
            position: absolute;
            left: 15px;
            top: 8px;
        }

        .sidebar-nav li a {
            color: white !important;
        }

        #sidebar-wrapper {
            background: #313030 !important;
        }

        .sidebar-nav {
            margin-top: 15px;
        }

        footer {
            background-color: #ffffff !important;
        }

        .navbar-nav li:hover {
            background-color: red;
        }
    </style>

</head>
<body style="border-top-color:white;">
    <nav class="navbar-inverse navbar-fixed-top" style="background:#f11f1f">
        @*<img class="clLogo" src="~/Content/images/logog.png" />*@
        <img class="clLogo" src="~/Images/logo.png" />
        <div class="container" style="margin-left:0px;">
            <div class="navbar-header">
                <h3 class="h3header" style="margin-left:200px;">Engineering Inventory</h3>
            </div>
        </div>
    </nav>
    <nav class="navbar navbar-default sidebar" role="navigation" style="position:fixed;">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-sidebar-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse" id="bs-sidebar-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="/LabelGenerator/Index">Master Details<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-home"></span></a></li>
                    <li onclick="seleccionado(1)">
                        @Html.ActionLink("Master Detail", "MasterDetails", "MasterDetails")
                    </li>
                    <li onclick="seleccionado(2)">
                        @Html.ActionLink("Internal Define", "Index", "InternalDefine")
                        @*<a class="dropdown-toggle" href="@Url.Action("Index","InternalDefine")"data-toggle="dropdown">Internal Define<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-saved"></span></a>*@
                    </li>
                    <li onclick="seleccionado(3)">
                        @Html.ActionLink("Define Splices", "Index", "DefineSplices")
                    </li>
                    <li>
                        @Html.ActionLink("Define Trenzados", "DefinirTrenzados", "DefineSplices")
                    </li>
                    <li>
                        @Html.ActionLink("Label Generator", "Index", "LabelGenerator")
                    </li>
                    <li>
                        @Html.ActionLink("Report Minibil", "Index", "ReportMinibill")
                    </li>
                    <li>
                        @Html.ActionLink("Label Printing Assembly", "Index", "LabelPrinting")
                    </li>
                    <li>
                        @Html.ActionLink("Label Printing Lead Prep", "LabelPrintingLP", "LabelPrintingLP")
                    </li>

                    <li>
                        @Html.ActionLink("Salir", "auth", "Login")
                    </li>
                    @*<i class="fas fa-save fa-2x"></i>*@
                    @*<li><a href="#">Tags<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-tags"></span></a></li>*@
                </ul>
            </div>
        </div>
    </nav>
    <div id="container" class="container body-content" style="margin-left:200px; margin-top:50px;width: 89%;">
        @*@RenderSection("featured", required: false)*@

        @RenderBody()
        <hr />
        <footer>
            <div class="row" style="padding-left:15px;padding-top:15px;float:left;">

                <div style="float:left;">
                    <img src="~/Images/lear_gray.png" height="35" width="120">
                </div>

                <div class="dx-desktop-layout-copyright" style="float:left;margin-left:5px;">
                    <br>
                    © 2018. Lear Corporation. All Rights Reserved.
                </div>

            </div>
        </footer>
    </div>
    @*<footer>
            <div class="content-wrapper">
                <div class="float-left">
                    <p>&copy; @DateTime.Now.Year - My ASP.NET MVC Application</p>
                </div>
            </div>
        </footer>*@


    @RenderSection("scripts", required: false)


    <script src="~/Scripts/jquery.dataTables.js"></script>


</body>
</html>
