﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Auth</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/auth.css" rel="stylesheet" />
</head>
<body class="background-img">
    <div>
        <div class="container container-center">
            <div class="row aling-items-center">
                <div class="col-12">
                    <div class="form-wall">
                        <img class="profile-img" src="~/Images/lear_logo.png" alt="Lear" />
                        <div class="form-signin">
                            <input type="text" id="txtUser" class="form-control" placeholder="User Account" required autofocus>
                            <br>
                            <input type="password" id="txtPassword" class="form-control" placeholder="Password" required>

                            <button class="btn btn-lg btn-lear-color btn-block" (click)="verificaUser()">
                                <span>
                                    <i id="sign" class="fa fa-sign-in"></i> Sign in
                                </span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="~/Scripts/jquery-2.2.3.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/MD5/md5.min.js"></script>
    <script>
        localStorage.clear();
        function verificaUser() {
            var url = '@Url.Action("VerificaUser","Login")';
            var urlh = '@Url.Action("inicio", "home")';
            var datos = {};
            datos.user = $("#txtUser").val();
            datos.password = md5($("#txtPassword").val());

            $.ajax({
                method: "POST",
                url: url,
                data: JSON.stringify(datos),
                contentType: "application/json",
                success: function (data) {
                    if (!data.error) {
                        if (data.valid) {
                            localStorage.setItem("user", datos.user);
                            localStorage.setItem("datosUser", JSON.stringify(data));
                            document.location.href = urlh;
                        }
                        else {
                            alert("Usuario o Contraseña no validos.");
                        }
                    }
                    else {
                        alert("Se produjo un error al ingresar el usuario, si persiste comuniquese con el area de sistemas.");
                    }
                }
            });
        }
        $(document).ready(function () {
            $("#txtPassword").on("keyup", function (k) {
                if (k.keyCode == 13) {
                    verificaUser();
                }
            });
            $("#cmdIngresar").click(function (event) {
                event.preventDefault();
                verificaUser();

            });

            $("#txtUser").focus();

        });
    </script>

</body>
</html>

@{
    Layout = null;
}