.background-img {
    background-image: url('../Images/background.png');
    background-position: center center center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.container {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}

.form-wall {
    margin-top: 50%;
    padding: 40px 0px 20px 0px;
    background-color: transparent;
    box-shadow: 0 0 5px white;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

@media only screen and (max-width: 600px) {
    .form-wall {
        margin-top: 30% !important;
    }
}

.profile-img {
    width: 320px;
    height: auto;
    margin: 0 auto 10px;
    display: block;
    margin-bottom: 20px;
}

.login-tittle {
    color: rgb(248, 248, 248);
    font-size: 18px;
    font-weight: 400;
    display: block;
}

.form-signin {
    max-width: 380px;
    padding: 15px;
    margin: 0 auto;
}

.form-control {
    color: wheat;
    background: transparent !important;
}

.form-signin .form-signin-heading {
    margin-bottom: 10px;
}

.form-signin .form-control {
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.form-signin .form-control:focus {
    z-index: 2;
    outline: none !important;
    border: 1px solid #e53329;
    box-shadow: 0 0 5px #e53329;
}

.form-signin input[type="text"] {
    margin-bottom: 1px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.btn-lear-color {
    background: red;
    color: white;
}